/* mandoc defaults */
table.head, table.foot { width: 100%; }
td.head-rtitle, td.foot-os { text-align: right; }
td.head-vol { text-align: center; }
.Nd, .Bf, .Op { display: inline; }
.Pa, .Ad { font-style: italic; }
.Ms { font-weight: bold; }
.Bl-diag > dt { font-weight: bold; }
code.Nm, .Fl, .Cm, .Ic, code.In, .Fd, .Fn, .Cd {
	font-weight: bold;
	font-family: inherit;
}

/* roboto font face */
@font-face {
	font-family: Roboto;
	src: url(Roboto.ttf);
}
@font-face {
	font-family: Roboto;
	font-weight: bold;
	src: url(Roboto-Bold.ttf);
}
@font-face {
	font-family: Roboto;
	font-style: italic;
	src: url(Roboto-Italic.ttf);
}

/* nice colourscheme :) */
body {
	background-color: #1e1e2e;
	color: #cdd6f4;
	font-family: Roboto;
	max-width: 532pt;
    }
a {
	color: #89b4fa;
}
.foot-os { float: right; }
.head { text-align: center; }
.head-ltitle { float: left; }
.head-rtitle { float: right; }
